body{
  text-align: center;
  position: relative;

/*background-image:url(3Dmist5.png);
background-color:black;
background-size: cover;
transition: opacity .5s;
animation: fadeIn 2s;
animation: backgroundScroll 3s linear infinite;
animation-fill-mode: forwards;*/
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  user-select:none;
}

a{
  text-decoration: none;
  color:white;
}



@keyframes infinitescroll {
  0%{
    transform:translateX(0%);
  }
  100%{
    transform:translateX(-100%);
  }
}

.contain{
  background-size: cover;
  position:fixed;
  top:0;
  z-index:1;
  background-color: black;
  /*background-image:url("3dmist5.png");*/
  overflow:hidden;
white-space: nowrap;
margin: 0% 0%;
padding: 0% 0%;
height: 100%;

}

.fog{
  display:inline-block;
  font-size:25px;
  margin: 0% 0%;
  padding: 0% 0%;
  height: 100%;
animation: infinitescroll 15s linear infinite;
}

img{
/*  width:100%;
  height:100%;
  margin: 0;*/
}


@keyframes downer2{

  0%{
    opacity:0;
    transform:translate(50px,-60px); /*-250*/
  }

  100%{
    opacity:1;
    transform:translate(0px,0px);
  }

}

@keyframes downer3{

  0%{
    opacity:0;
    transform:translate(0px,-50px); /*0px*/
  }

  100%{
    opacity:1;
    transform:translate(0px,0px);
  }

}

@keyframes downer4{

  0%{
    opacity:0;
    transform:translate(-50px,-60px);
  }

  100%{
    opacity:1;
    transform:translate(0px,0px);
  /*  transform:translate(0,-10pxx);*/
  }

}






@keyframes downtwo1{
  0%{
    opacity:0;
    transform:translate(0px,-50px);
  }



  100%{
    opacity:1;
    transform:translate(0px,0px);
  }
}

@keyframes downtwo2{
0%{
  opacity:0;
  transform:translateY(-100px);
}

50{
  opacity:.05;

}

100%{
  opacity:1;
  transform:translateY(0px);
}

}

@keyframes downtwo3 {
  0%{
    opacity:0;
    transform:translateY(-150px);
  }

  50{
    opacity:.1;

  }

  100%{
    opacity:1;
    transform:translateY(0px);
  }
}

@keyframes no {


  100%{
    opacity:1;
    transform:translateY(0px);
  }
}



div{
  color:white;
  /*display:inline-block;
  float:left;
  font-family: "Trebuchet MS";*/
  }

.overall{
  position: relative;
white-space: nowrap;
width:100%;
z-index:3;
}


.overall,.webd, .aboutme, .extra,.soc{
  float:left;
}

.soc{
/*border: 1px solid red;*/
  width:30%;
  font-size:40px;
padding-top:15px;
text-align: center;
cursor:pointer;
font-family: "Trebuchet MS";
}

.soc .dropdown a{
  display:none;
  /*display:flex;*/
  text-align: center;
  /*border:1px solid white;*/
  width:100%;
  justify-content: center;

}



.soc:hover .x{
  display:block;
animation: downtwo2 1.1s;
margin-top:0px;

}

.soc:hover .y{
  display:block;
animation: downtwo1 1.2s;
}

.soc:hover .z{
  display:block;
animation: downtwo3 1.3s;
}


.dropdown{
  /*position:absolute;
  transform:translateX(-80px);*/

  /*margin-top:6px;*/
  padding-top:6px;

/*border:1px blue solid;*/
display:block;

width:100%;





}

.dropdown a{
  padding: 12px 16px;
  text-decoration:none;
  display:inline-block;
  text-align:center;
  width:30%;
  font-size: 25px;
  cursor:pointer;
  margin-left: 5px;

}


.webd{
  /*border: 1px solid red;*/
  width:23%;
text-align: center;
  padding: 15px;
  font-size:40px;
cursor:pointer;
font-family: "Trebuchet MS";
}

.webd:hover{
  text-shadow:1px 1px 2px black, 0px 0px 25px #99ffeb, 0 0 5px #00cca3;
}


.aboutme{
/*border: 1px solid red;*/
font-family: "Trebuchet MS";
width:23%;
text-align: center;
padding: 15px;
font-size:40px;
cursor:pointer;

}

.aboutme:hover{
  text-shadow:1px 1px 2px black, 0px 0px 25px #99ffeb, 0 0 5px #00cca3;
}

.extra{
  /*border: 1px solid red;*/
  padding: 15px;
  width:23%;
text-align: center;
  font-size: 40px;
cursor:pointer;
font-family: "Trebuchet MS";

}



.name{
  position: relative;
  z-index:3;
  margin-top: 15%;
  margin-bottom:5%;
  font-size: 55px;
  width:90%;
  transform:translateX(5%);
  text-align: center;
  font-family: "Trebuchet MS";

}


.theextras{
  /*position:absolute;*/
  margin-left: 30px;
  display:none;

}

.theextras a{
  padding: 12px 16px;
  display:block;
  text-decoration:none;
  cursor:pointer;
  font-size: 30px;
  /*font-family: "Trebuchet MS";*/
}

.extra:hover .theextras{
  display:block;
}

a:hover{
  text-shadow:1px 1px 2px black, 0px 0px 25px #99ffeb, 0 0 5px #00cca3;
}

.extra:hover  .a{
  display:block;
  animation: downtwo1 1.5s;
}

.extra:hover .b{
  display:block;
  animation: downtwo2 1.5s;
}

.extra:hover .c{
  display:block;
  animation: downtwo3 1.5s;
}


.createdby{
  display:none;
}


/*Start of resizing window*/





@media only screen and (max-width: 850px){

  .overall{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  body{
/*background-image:url(3Dmist5.png);
    animation: backgroundScroll 0s linear infinite;*/
position:absolute;
height:100%;


/*position:absolute;

 top: 0;
 left: 0;
 right: 0;
 height: 60px;
 display: flex;
 align-items: center;
 background-color: #0a0a0a;
 color: white;
 font-weight: 600;
 border:white 1px solid;
*/
  }

  #thebar{
    /*background-color: rgba(110, 110, 110,.1);*/
  background-color:rgba(0,0,0,.9);  /*background-color:rgba(35,35,35,.1);*/
      filter: drop-shadow(0px 0px 10px white);
    position: absolute;
  /*  bottom:10%;*/


    right:17%;
    width:65%;
    height:1200px;
    padding-bottom:90%;

    z-index: 2;
    padding-top:50%;

  }
  .name{
/*border:solid teal 2px;*/
margin-bottom:0%;
border-radius:90%;
padding:20%;
font-size:45px;
display:block;
  }



  .dropdown{
    color:blue;
    display:none;
  }

  .dropdown a{
    font-size: 30px;
    margin-top:10px;
    margin-bottom:10px;
  }

  .dropdown .x{
    margin-top:10px;
    margin-bottom:10px;
  }


  .webd{
  width:100%;
  text-align: center;
  border:solid white 2px;
  background-image: url(webdback2.png);
  background-size: cover;
  margin-bottom:15%;
  text-shadow:1px 1px 2px black, 0px 0px 25px teal, 0 0 5px teal;
  }
  .aboutme{
  width:100%;
  text-align: center;
  border:solid white 2px;
  background-image: url(aboutback3.png);
  background-size: cover;
  margin-bottom:15%;
    text-shadow:1px 1px 2px black, 0px 0px 25px teal, 0 0 5px teal;
  color:teal;



  }

  .extra{
    color:black;
    width:100%;
    text-align: center;
    border:solid white 2px;
    background-image: url(extraback.png);
    background-size: cover;
    margin-bottom:15%;
      text-shadow:1px 1px 2px black, 0px 0px 25px teal, 0 0 5px teal;
  }

  .soc {
    margin:0px;
    width:100%;
    text-align: center;
  }

  .soc h{
    margin:0px;
    display:none;
  }


  .soc .dropdown .x{

    margin-top:10px;
    margin-bottom:10px;
  }

  .soc .dropdown .y{
    margin-top:10px;
    margin-bottom:10px;
  }

  .soc .dropdown .z{

    margin-top:10px;
    margin-bottom:10px;
  }



  .soc:hover .x{

    animation: no 1.5s


  }

  .soc:hover .y{
animation: no 1.5s

  }

  .soc:hover .z{
animation: no 1.5s

  }

  .soc .dropdown a{
    display:inline;
  }

  .createdby{
display:none;
    /*font-family: myFirstFont;*/
    font:    bold 12px/30px Georgia, serif;
      display:block;
      text-align:center;
      position: relative;
      left:45px;
  }

  @font-face {
  font-family: myFirstFont;
  src: url(sansation_bold.woff);
  font-weight: bold;
}
}

/*End of re sizing section*/
